
  .container-fluid {
    margin-top: 20px;
}
.left-column {
    background-color: #f8f9fa;
    padding: 20px;
    border-right: 1px solid #dee2e6;
}
.right-column {
    padding: 20px;
}

#main-contentss {
    background: url(/img/index.jpg) no-repeat center center/cover!important;
    height: 100vh; /* 100% của viewport height */
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}

.greeting {
    font-size: 24px;
    margin-bottom: 20px;
}

.waiting-message {
    font-size: 18px;
}
#main-content {
    background: url(css/img/index.jpg) no-repeat center center/cover!important;
    height: 100vh; /* 100% của viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    width: 100%;
}

.greeting {
    font-size: 24px;
    margin-bottom: 20px;
}

.waiting-message {
    font-size: 18px;
}

.container-fluid {

    min-height: 600px;
  
}
/* CSS */
.message-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.message {
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 5px;
}

.sent {
    background-color: #002cb4;
    align-self: flex-end;
    color: #fff;
}
.received {
    background-color: #f0f0f0; /* Màu nền tin nhắn của người nhận */
    align-self: flex-start;
}
.card-body.message-box {
    overflow-y: auto; /* Tự động hiển thị thanh cuộn dọc nếu cần */
    max-height: 500px; /* Định kích thước tối đa của phần tử */
}
.unread-count {
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
    margin-left: 5px; /* Khoảng cách giữa hình tròn số và tên thành viên */
}
ul.list-group.member-list{

    overflow-y: auto; /* Tự động hiển thị thanh cuộn dọc nếu cần */
    max-height: 500px; /* Định kích thước tối đa của phần tử */

}
